body {
    padding-bottom: 873px;
    background-image: linear-gradient(27deg, #4361ee, #4895ef, #4cc9f0, #4895ef, #4361ee) !important;
} 
.loginDiv
{
	background: white;
	padding: 10px;
    margin-right: 15px;
    display: inline-block;
	float: none;
	border-radius: 15px;
}
button {
    background-image: linear-gradient(26deg, #f72585, #b5179e, #7209b7) !important;
    color: white;
    border: none;
    padding: 7px;
    width: 20%;
    border-radius: 5px;
    border: none;
}
