body
{
	background: lightblue;
}
.loginDiv
{
	background: white;
	padding: 10px;
    margin-right: 15px;
    display: inline-block;
	float: none;
	border-radius: 15px;
}
#player01, #player02
{
	display: block;
	margin-left: 10px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
	background: #ffffff;
	border-radius: 10px;
	border-top: 10px solid #f0f0f0;
	padding: 10px;
	float: none;
	text-align: left;
}
